<html>
    <head>
        <title>{% if instance %}{{ instance.name }}{% else %}Gallery main page{% endif %}</title>
    </head>
    <body>
        <h3>{% if instance %}{{ instance.name }}{% else %}Gallery main page{% endif %}</h3>

        <a href="{% url 'gallery' path='' %}">Gallery main page</a>
        {% for ancestor in instance.get_ancestors %}
            > <a href="{{ ancestor.get_absolute_url }}">{{ ancestor.name }}</a>
        {% endfor %}
        > <strong>{{ instance.name }}</strong>

        <h4>Subcategories:</h4>
        <ul>
            {% for child in children %}
                <li><a href="{{ child.get_absolute_url }}">{{ child.name }}</a> ({{ child.views }} views)</li>
            {% empty %}
                <li>No items</li>
            {% endfor %}
        </ul>

        <h4>Photos:</h4>
        <ul>
            {% for photo in instance.photos.all %}
                <li>{{ photo.name }}</li>
            {% empty %}
                <li>No items</li>
            {% endfor %}
        </ul>

        <small>{{ extra }}</small>
    </body>
</html>